# Node modules
node_modules/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Build / Coverage outputs
dist/
build/
coverage/

# IDE / OS junk
.vscode/
.idea/
.DS_Store
Thumbs.db
*.swp
*.swo

# Temporary or backup files
*.tmp
*.bak
